CommandsService/.vs/CommandsService/v17/.suo
CommandsService/bin/*
CommandsService/obj/*
PlatformService/.vs/PlatformService/v17/.suo
PlatformService/bin/*
PlatformService/obj/*
PlatformService/.vs/*
CommandsService/.vs/*
